body {
 background-image: url("paper.gif");
}

body {
bgcolor: pink;
text-align: center;
}
span {
  color: red;
  background-color: blue;
}
.blueColor {
  color: blue;
  font-family: arial;
  font-size: 24px;
}

span.blueColor {
  color: blue;
  font-family: arial;
  font-size: 24px;
}
#specificColor {
  color: blue;
  font-family: verdana;
  font-size: 24px;
}

#specificLink {
  color: red;
  font-family: arial;
  font-size: 28px;
}